<header id="miheader">
    <div id="izq">
        <a href="/"><h1>Express Libros</h1></a>
    </div>
    <div id="der">
        <a href="/">Inicio</a>
        <a href="/anadir">Añadir</a>
    </div>
</header>